/*!===========================================
   For index.html, the below code
   ===========================================
*/

/* 
h3{
    color:blue;
}

p{
    color:purple;
}

button{
    color:black;
}

body{
    background-color: black;
}

button{
    background-color: green;
} 
*/

/*? Note: "Color Picker" by google to understand rgb and the color values */



/*!=================================================
   For selectors.html file
   =================================================*/

/* div{
    background-color: blueviolet;
}

.headings{
    color:red;
}

/*? Also we can do it as: 
h1, h2, h3{
    color:red;
    }


button{
    background-color: green; 
}
*/

